body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(140, 127, 255);
}

.dice-container{
    text-align: center;
    border: 1px solid white;
    display: grid;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 20px;
}

.the_dice{
    width: 100px;
    height: 100px;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    display: grid;
    padding: 15px;
    box-sizing: border-box;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: auto;
    transition: transform 0.5s ease-in-out;
    transform: rotate(0)

}

.the_dice:hover{
    transform: rotate(360deg);
}

.dot{
    width: 20px;
    height: 20px;
    background-color: rgb(216, 27, 27);
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-self: center;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}